@font-face {
    font-family: "Roboto";
    src: url("fonts/Roboto-Regular.ttf") format('truetype');
    font-weight: 400;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5px;
}

.header-logo {
    margin-top: 15px;
    font-family: "Roboto", sans-serif;
    color: #272832;
    font-size: 25px;
    font-style: normal;
    line-height: 33px;
    /* 132% */
    width: 700px;
}

.main-hero {
    width: 100%;
    height: 540px;
    display: block;
    padding-top: 170px;
    margin-bottom: 78px;
}

.main-hero__content {
    position: absolute;
    z-index: 2;
}

.main-hero__content-title {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
}

.main-hero__content-buttons {
    display: flex;
    margin-top: 43px;
    text-align: center;
}

.main-hero__content-buttonn {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    line-height: 50px;
    /* 111.111% */
    width: 166px;
    height: 56px;
    flex-shrink: 0;
    border: 2px solid #FFF;
    margin-right: 14px;

    color:#FFFFFF;
    /* background-color : #CD1111; */
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;

}

.main-hero__content-buttonn:hover {
    background-color: rgba(228, 137, 222, 0.736);

    background-size: 100% 100%;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    color: black;
    transition: background-size .5s, color .5s;
}
.main-hero__content-button {
    color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-style: normal;
    text-transform: capitalize;
    width: 119px;
    height: 56px;
    flex-shrink: 0;
    border: 2px solid #FFF;
    line-height: 50px;
    /* 111.111% */
    color:#FFFFFF;
    /* background-color : #CD1111; */
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size .5s, color .5s;

}

.main-hero__content-button:hover {
    background-color: rgba(228, 137, 222, 0.736);

    background-size: 100% 100%;
    background-image: linear-gradient(#FFFFFF, #FFFFFF);
    color: black;
    transition: background-size .5s, color .5s;
}

.skills {
    display: flex;
    column-gap: 165px;
}

.skills-title {
    display: flex;
    width: 144px;
    height: 100%;
    flex-wrap: nowrap;
    color: #696969;
    font-family: "Roboto", sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    /* 116.129% */
}

.skills-column {
    width: 620px;
}

.skills-column__text {
    color: #696969;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 142.857% */
}

.skills-content__column-block__one-text {
    padding-left: 18px;
    padding-top: 12px;
    margin-top: 16px;
    color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
    text-transform: uppercase;
    background: #D9D9D9;
    width: 620px;
    height: 44px;
}

.skills-content__column-block__two-text {
    padding-left: 18px;
    padding-top: 12px;
    margin-top: 18px;
    color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
    text-transform: uppercase;
    background: #D9D9D9;
    width: 620px;
    height: 44px;
}

.skills-content__column-block__three-text {
    padding-top: 12px;
    padding-left: 18px;
    margin-top: 18px;
    color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
    text-transform: uppercase;
    background: #D9D9D9;
    width: 620px;
    height: 44px;
}

.skills-content__column-block__four-text {
    padding-left: 18px;
    padding-top: 12px;
    margin-top: 18px;
    color: #666;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
    text-transform: uppercase;
    background: #D9D9D9;
    width: 620px;
    height: 44px;
    margin-bottom: 80px;
}

.project-header__title{
    color: #4D4D4D;
    font-family: "Roboto", sans-serif;
    font-size: 31px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;/* 116.129% */
    width: 166px;
    margin-left: 100px;
}

.project-photo {
    width: 360px;
    height: 350px;
    margin-top: 80px;
}


.footer-text {
    color: #C4C4C4;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 144px;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    margin: 0 250px;
}

.svg {
    display: flex;
    height: 20.297px;
    padding: 2px 10px 0.297px 247px;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    margin-left: 313px;
}

.project {
    position: relative;
    display: block;
    width: 100%;
    height: 800px;
}

.project-wrapper {
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.project-wrapper::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.project-slider {
    margin: 0 auto;
    display: inline-flex;
    padding: 10px;
    width: 100%;
    height: 600px;
}

.project-slider__item {
    width: 400px;
    height: 600px;
    padding: 5px;
}

.slick-list {
    max-width: 1370px;
    width: 100%;
}

.arrow {
    display: flex;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    left: 50%;
    top: 630px;
    padding-top: 40px;
}

.arrow-left {
    left: 50px;
    width: 50px;
    padding-bottom: 40px;
    
}
 
.arrow-right {
    left: calc(100% - 100px);
    width: 50px;
    transform: rotate(180deg);
    padding-bottom: 40px;
}
